version: "3.8"

# standalone
services:
  spot-hinta-influxdb:
    image: vonlatvala/spot-hinta-influxdb
    environment:
      - TZ=Europe/Helsinki
      - EXEC_INTERVAL_MINUTES=30
      - INFLUX_DATABASE=spot_price
      - INFLUX_PASSWORD=secret
      - INFLUX_PORT=8086
      - INFLUX_PROTO=http
      - INFLUX_USERNAME=system
      - UPSTREAM_API_FQDN=api.spot-hinta.fi
      - UPSTREAM_API_PROTO=https
      - INFLUX_HOST=db.internal.domain.tld
      - INCLUDE_TOMORROW=true
    restart: unless-stopped
